.btn {
  @extend .flex-center;
  @extend .animated;

  height: 44px;
  border-radius: 10px;

  i {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
  }
}

.btn--blue {
  color: $blue-dark;

  &:hover,
  &:hover,
  &.active {
    background-color: $blue-light;
  }
}

.nav-btn {
  @extend .btn;
  @extend .btn--blue;

  width: 44px;

  margin: 4px 0;
}

.side-nav-btn {
  @extend .btn;
  @extend .btn--blue;

  justify-content: flex-start;

  width: 100%;
  padding: 0 15px;
  margin: 4px 0;

  font-size: 15px;
  font-weight: 600;
}

.user-nav-btn {
  @extend .btn;

  width: 42px;
  height: 42px;
  margin: 0 8px;

  color: $gray-dark;

  background-color: #fff;
  box-shadow: $shadow;

  &:hover,
  &:focus {
    transform: translate(3px, -3px);
  }
}

.big-btn {
  @extend .animated;

  padding: 12px 28px;
  width: 100%;

  text-align: center;
  font-weight: 600;

  border: 1px solid $orange;
  border-radius: 10px;

  cursor: pointer;
}

.big-btn--filled {
  color: #fff;
  background-color: $orange;

  &:hover,
  &:focus {
    color: $orange;
    background-color: #fff;
  }
}

.big-btn--outlined {
  color: $orange;
  background-color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $orange;
  }
}
