.new-desk {
  width: 330px;

  .form-group {
    padding-bottom: 18px;
  }

  label {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }

  button {
    margin: 10px 0 5px;
  }
}
